@use 'variaveis';

.shows{
    padding: 2vw 5.6vw;
    min-height: 50vw;
    margin: 0 auto;

    &__list{
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width:767px){
            grid-template-columns: 1fr 1fr;
        }

        &-active{
            display: grid;
        }

        &--item{

            img{
                width: 100%;
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;
        @media (max-width:768px){
            white-space: nowrap;
            overflow-x: scroll;
            padding-left:103px;
        }

        &--button{
            color: variaveis.$corTextoSecundario;
            background-color: transparent;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &-active{
                border-color: variaveis.$corTextoSecundario;
            }
        }
    }
}