@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';
@use 'variaveis';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

.btn{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundo;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: lighten(variaveis.$corDoBotaoPrimario, 3%);
    }

    &--secundary{
        background-color: variaveis.$corDoBotaoSecudario;

        &:hover{
            background-color: lighten(variaveis.$corDoBotaoSecudario, 3%);
        }
    }

    &--dark{
        background-color: variaveis.$corDoBotaoDark;
        border-color:variaveis.$corTextoSecundario;

        &:hover{
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin title($fontSize:40px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;

}

@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

.text__big{
    @include text(18px);

    @media (max-width:768px){
        @include text(15px)
    }
}

.text{
    @include text;

    @media (max-width:768px){
        @include text(14px)
    }
}

.text__small{
    @include text(12px);

    @media (max-width:768px){
        @include text(11px)
    }
}

.link-text{
    @include text(18px);
    color:variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title{
    @include title;

    @media (max-width:768px){
        @include title(24px)
    }
}

.title__big{
    @include title(44px);

    @media (max-width:768px){
        @include title(26px)
    }
}

.title__small{
    @include title(28px);

    @media (max-width:768px){
        @include title(22px)
    }
}

.image-text-section{
    padding: 5.6vw ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width:768px){
        display: block;
        text-align: center;
    }

    img{
        max-width: 100%;
    }

    &__item{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }
}

.imageFullWidth{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    @media (max-width:768px){
        flex-direction: column;
        align-items: center;
    }
    
    picture{
        img{
            width: 89.8vw;
        }

    }
    &__item{
        position: absolute;
        width: calc(50% - 5.6vw);
        top:33%;
        left:50%;
        padding-right: 50px;
        
        @media (max-width:768px){
            position: relative;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 0 5vw;
        }
    }
}